---
layout: default
title: Home
permalink: /
---

<h1>TheWizardBay</h1>

<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
      <p>{{ post.excerpt | strip_html | truncate: 150 }}</p>
    </li>
  {% endfor %}
</ul>
{% if post.categories %}
  | Categories:
  {% for category in post.categories %}
    <a href="/categories/{{ category | downcase }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
  {% endfor %}
{% endif %}
