html{
	max-width: 40rem;
	font-family: sans-serif;
	padding: 4em 1em;
	margin: auto;
	line-height: 1.5;
	font-size: 18px;
}
a:link{
	color:black;
}
a:visited{
	color:#565656;
}
aside{
	position: fixed;
	top: 30px;
	right: 30px;
}
code{
	font-family: monospace;
	font-size: 15px;
}
